<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077323013776-c8a7gsv7ap2ibt7cas27hosm84kmmbp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077323013776-c8a7gsv7ap2ibt7cas27hosm84kmmbp0</string>
	<key>API_KEY</key>
	<string>AIzaSyBEiIzSk39kKvtDrhdN-cW5iQNRklQcqB8</string>
	<key>GCM_SENDER_ID</key>
	<string>1077323013776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>mad-project-21it087</string>
	<key>STORAGE_BUCKET</key>
	<string>mad-project-21it087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077323013776:ios:7e81632f4d5e52fc200215</string>
</dict>
</plist>